/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.sidebar:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}